.hover_card_bred:hover{
    background-color: #CCCCCC;
    border-radius: 0.375rem;
}

@media only screen and (max-width: 690px) {
  .fc .fc-toolbar-title{
      font-size: 1rem!important;
  }
}

@media only screen and (max-width: 450px) {
  .fc .fc-toolbar-title{
      font-size: 0.8rem!important;
  }
}
